<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #signupForm="ngForm"
    (ngSubmit)="onSubmit(signupForm)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        ngModel name="email"
        email
        required
        #emailInput="ngModel"/>
      <mat-error *ngIf="emailInput.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"/>
      <mat-error *ngIf="pwInput.hasError('minlength')">Should be at least 6 characters long.</mat-error>
      <mat-error *ngIf="pwInput.hasError('required')">Password is required.</mat-error>
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your birthday"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        #birthdate="ngModel"
        required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdate.hasError('required')">Birthdate is required.</mat-error>
    </mat-form-field>
    <mat-checkbox
      ngModel
      name="agree"
      required
      #agree="ngModel"
      color="primary">Agree to Terms of service. *</mat-checkbox>
    <mat-error style="font-size: 12px;" *ngIf="agree.touched && agree.hasError('required')">Terms of service agreement is required.</mat-error>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="signupForm.invalid"
      *ngIf="!isLoading">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
